h2 {
	color : blue;
}

.boxmodel{
	border: 5px solid red;
	display: inline-block;
	padding: 5px 20px;
	margin: 0px 20px;
	width: 33px;
	height: 55px;
}

p {
	font-size: 20px;
}

span {
	font-size: 2em;/*
	em의 경우는 부모의 크기의 2배(배수)
	rem은 root의 배수*/
}